# Datos de contacto (públicos)
PUBLIC_WHATSAPP=573108150734
PUBLIC_EMAIL=apogeov@gmail.com
PUBLIC_INSTAGRAM=https://www.instagram.com/apogeov/
PUBLIC_FACEBOOK=https://www.facebook.com/profile.php?id=61590387307491
PUBLIC_YOUTUBE=https://www.youtube.com/@ApogeOv
PUBLIC_TIKTOK=https://www.tiktok.com/@apogeov

# Formspree endpoint ID
PUBLIC_FORMSPREE_ID=mjgzqwek
